:root {
    --font-primary: 'Almarai', sans-serif;
    --font-color: #333;
    --bg-color: #1126F4;
}

body {
    background-image: url(img/background-header.jpg);
    background-size: cover;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: var(--font-primary);
    font-size: 2rem;
    color: #fff;
    text-align: center;
    padding: 0;
    margin: 0;
}

h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.875rem;
    color: #fff;
    text-align: center;
    padding: 0;
    margin: 0;
}

.head {
    padding: 4rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 50%;
    max-width: 200px;
    margin-bottom: 2rem;
}

.menjelajah {
    margin-top: 1.5rem;
    background-color: #1126F4;
    width: 100%;
    max-width: 12rem;
    height: 2rem;
    border-radius: 10px;
}

a.header {
    text-decoration: none;
    color: #fff;
    font-family: var(--font-primary);
    font-size: 0.875rem;
}




main {
    background-color: #fff;
}

h2 {
    color: #333;
    font-family: var(--font-primary);
    padding-top: 40px;
    margin: 0;
    font-size: 1.5rem;
}

.hero {
    display: flex;
    justify-content: center;
}

.hero-text {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.deskripsi-fossi {
    padding: 0 1rem 2rem 1rem;
    font-size: 18px;
    color: var(--font-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-img {
    width: 100%;
    max-width: 300px;
}

.visi {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column; /* Default for mobile */
    align-items: center;
}




.fotbar {
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 2rem 1rem;
}

.fattah {
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo-vektor {
    width: 40px;
    height: 40px;
    margin: 2rem 0;
}

.desk-fotbar {
    padding: 1.5rem;
}

.desk {
    font-family: var(--font-primary);
    color: #333;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

.lupa {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 2rem;
    padding-left: 1rem;
}

.fattah1,
.fattah2,
.fattah3,
.fattah4 {
    display: flex;
}

/* Media Queries for Responsive Design */
@media (min-width: 768px) and (max-width: 1023px) {
    .navbar .hamburger {
        display: flex;
    }


    .nav.show {
        display: flex;
    }

    .team-container {
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-behavior: smooth;
    }

    h1 {
        font-size: 2.2rem;
    }

    h4 {
        font-size: 1rem;
    }

    .logo {
        width: 60%;
        max-width: 250px;
    }

    .about-img {
        width: 80%;
        max-width: 350px;
    }

    .fotbar {
        width: 80%;
        max-width: 350px;
    }

    .team-card {
        max-width: 175px;
        padding: 20px;
    }

    .misi {
        padding: 10px;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    .head {
        padding: 7rem 1rem;
    }

    .menjelajah {
        width: 16rem;
        height: 2.5rem;
    }

    .about {
        flex-direction: row; /* Change to row on desktop */
    }

    .about-img {
        max-width: 400px;
    }

    .fotbar {
        max-width: 400px;
    }

    .team-card {
        max-width: 200px;
    }

    .misi {
        padding: 10px;
    }
}

footer {
    background-color: #1126F4;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
